Options -Indexes

RewriteEngine on

# ErrorDocument 404 /app/controller/error.php


RewriteRule ^$ app/controller/home.php

RewriteRule ^question/?$ app/controller/new_question.php
RewriteRule ^topic/?$ app/controller/new_topic.php
RewriteRule ^view/topic/?$ app/controller/view_topic.php
RewriteRule ^new/topic/?$ app/controller/topic_form.php
